<!DOCTYPE html>
<html>
    <head>
        <title>my web page</title>
    </head>
    <body>
        <input type='text' id='input_text'>
        <button id='input_data'>SQLite DB에 넣기</button>
        <p><%=data %></p>

        <script src="./javascript/test.js"></script>
    </body>
</html>